@{
    ViewData["Title"] = "Home";
}
<main>
  <section class="card">
    <h2>Welcome to Brew Haven</h2>
    <p>
      This project is a dynamic MVC coffee shop management system.
      It is designed to help manage customer orders, menu items, inventory, and sales data.
    </p>

    <p>
      The website includes working CRUD pages, interactive charts, an About Us page,
      a nutrition API tracker, and a Botpress chatbot that helps users with coffee shop questions and customer support.
    </p>

  </section>
</main>

<script src="https://cdn.botpress.cloud/webchat/v3.6/inject.js"></script>
<script src="https://files.bpcontent.cloud/2026/04/08/13/20260408132514-UPB6PFI2.js" defer></script>